@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.differences h1 span { 
  color: red;
}

.differences h1 { 
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}