@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.differences {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: #180A29;
  height: 780px;
}

.differences h2 span {
  color: #EB003F;
}

.differences h2 {
  margin-top: 10px;
  color: #FFFF;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 25px;
}

.differences p {
  margin-top: 10px;
  color: #FFFF;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
}

.cards-differential {
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

@media (min-width: 760px) {
  .card-diff { 
    width: 230px;
    margin-bottom: 30px;
  }

  .cards-differential {
    padding: 0 62px;
    justify-content: space-evenly;
  }
}

@media (min-width: 1005px) {
  .card-diff {
    max-width: 340px;
    margin-left: 15px;
  }
}

@media (min-width: 1350px) {
  .differences {
    justify-content: space-around;
    height: 550px;
  }
}