@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
* { 
  margin: 0;
}

.hero { 
  padding-top: 110px;
  background: radial-gradient(73.72% 73.72% at 50% 45.04%, rgba(55, 11, 109, 0.7) 18.75%, rgba(0, 0, 0, 0) 100%), #180A29;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hero img { 
  width: 85%;
  margin-bottom: 25px;
}

.hero h1 {
  text-align: center;
  font-family: 'Nunito';
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 25px;
}

#paragraph {
  text-align: center;
    font-family: 'Nunito';
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 25px;
}

.hero a {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.hero-plans {
  display: none;
}

@media (min-width: 760px) {
  .call-hero {
    padding: 0 15px;
  }
}

@media (min-width: 1005px) {
  .hero {
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .hero img {
    position: absolute;
    filter: brightness(90%);
  }
  .call-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    width: 40%;
    height: 250px;
    align-self: center;
    background-color: rgba(55, 11, 109, 0.7);
    border-radius: 10px;
    margin: 0 15px;
    transition: 1s;
    order: 2;
  }
  .hero-plans {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    background-color: rgba(55, 11, 109, 0.7);
    color: white;
    border-radius: 10px;
    padding: 0 10px;
    z-index: 1;
    height: 220px;
  }
  .hero-plans > h3 {
    font-family: 'Nunito';
    font-size: 22px;
  }
  .hero-plans > h3 > span {
    font-size: 38px;
  }
}

@media (min-width: 1884px) {
  .hero-plans {
    background-color: transparent;
  }
  .call-hero {
  }
}

@media (min-width: 1350px) {
  .hero {
    height: 500px;
  }
  .hero > img {
    width: 1150px;
    top: 150px;
  }
}